body {
    font-family: Verdana, sans-serif;
    font-size:16px;
}
div.job {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #4c7cff;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}
div.job h2 {
    margin-top: 2px;
    color: #273746
}
div.job p {
    color: #839192
}